{% extends "partials/base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.vidstack.io/player/theme.css" />
<link rel="stylesheet" href="https://cdn.vidstack.io/player/audio.css" />
<link rel="stylesheet" href="https://cdn.vidstack.io/player/video.css" />
{% endblock css %}
{% block content %}
<div class="flex flex-col lg:flex-row mt-4 gap-2">
    <div class="w-full lg:w-3/4 relative">
        <div id="video-player" class="aspect-video"></div>
        <div id="skip-buttons" class="absolute bottom-24 right-4 flex flex-col space-y-2">
            <div id="skipIntro" class="relative bg-white bg-opacity-20 text-white text-center py-2 px-4 rounded-lg cursor-pointer overflow-hidden hidden">
                <span class="relative z-10">Skip Intro</span>
                <div id="intro-overlay" class="absolute inset-0 bg-{{ user.preferences.accent_colour }}-600 transition-transform duration-[5000ms] ease-linear origin-left scale-x-0"></div>
            </div>
            <div id="skipOutro" class="relative bg-white bg-opacity-20 text-white text-center py-2 px-4 rounded-lg cursor-pointer overflow-hidden hidden">
                <span class="relative z-10">Skip Outro</span>
                <div id="outro-overlay" class="absolute inset-0 bg-{{ user.preferences.accent_colour }}-600 transition-transform duration-[5000ms] ease-linear origin-left scale-x-0"></div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/4 flex flex-col overflow-y-auto px-2 lg:px-0" style="height: 42vw; max-height: 806px;">
        <h2 class="text-white text-xl font-bold mb-4">Episodes</h2>
        <div class="flex flex-col gap-2">
            {% for episode in anime_episodes.episodes %}
            {% if episode.number == current_episode %}
            <a href="{% url "watch:watch_episode" anime_id episode.number %}" class="flex flex-row w-full gap-4 bg-{{ user.preferences.accent_colour }}-600 p-2 rounded hover:bg-{{ user.preferences.accent_colour }}-600 hover:bg-opacity-30">
                {{ episode.number }}. {{ episode.title }}
            </a>
            {% else %}
            <a href="{% url "watch:watch_episode" anime_id episode.number %}" class="flex flex-row w-full gap-4 bg-white bg-opacity-10 p-2 rounded hover:bg-{{ user.preferences.accent_colour }}-600 hover:bg-opacity-30">
                {{ episode.number }}. {{ episode.title }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script type="module">
    const introStart = {{ episode_data.intro.start }};
    const introEnd = {{ episode_data.intro.end }};
    const outroStart = {{ episode_data.outro.start }};
    const outroEnd = {{ episode_data.outro.end }};
    const skipIntroButton = document.getElementById('skipIntro');
    const skipOutroButton = document.getElementById('skipOutro');
    const introOverlay = document.getElementById('intro-overlay');
    const outroOverlay = document.getElementById('outro-overlay');
    const autoSkipIntro = {% if user.preferences.auto_skip_intro %}true{% else %}false{% endif %};

    import { VidstackPlayer, VidstackPlayerLayout, TextTrack } from 'https://cdn.vidstack.io/player';

    const layout = new VidstackPlayerLayout({
        {% for track in episode_data.tracks %}
            {% if track.kind == 'thumbnails' %}
                thumbnails: "https://vtt.blasphemy8473.workers.dev/{{ track.file }}",
            {% endif %}
        {% endfor %}
    });
    
    const player = await VidstackPlayer.create({
        target: '#video-player',
        autoStartLoad: true,
        src: '{{ stream_url }}',
        viewType: 'video',
        streamType: 'on-demand',
        logLevel: 'warn',
        crossOrigin: true,
        playsInline: true,
        title: '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}',
        subtitlePreference: {
            lang: 'English',
        },
        layout,
        tracks: [
            {% for track in episode_data.tracks %}
            {% if track.kind == "captions" %}
            {
                src: '{{ track.file }}',
                label: '{{ track.label }}',
                kind: 'subtitles',
                type: 'vtt',
                lang: '{{ track.label }}',
                default: {% if track.label == "English" %}true{% else %}false{% endif %},
            },
            {% endif %}
            {% endfor %}
        ],
    });

    
    player.addEventListener('duration-change', (event) => {
        const chapters = [
            { startTime: introStart, endTime: introEnd, title: 'Intro' },
            { startTime: outroStart, endTime: outroEnd, title: 'Outro' }
        ];
    
        const chaptersTrack = new TextTrack({
            kind: "chapters",
            default: true,
        });
    
        for (const chapter of chapters) {
            if (chapter.startTime === chapter.endTime) {
                continue;
            }
            chaptersTrack.addCue(new VTTCue(chapter.startTime, chapter.endTime, chapter.title));
        }
    
        if (introStart !== 0) {
            chaptersTrack.addCue(new VTTCue(0, introStart, '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}'));
        }
    
        if (introStart === 0 && introStart != introEnd && introEnd != outroStart) {
            chaptersTrack.addCue(new VTTCue(introEnd, outroStart, '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}'));
        }
        const duration = event.detail;
        if (duration > 0 && outroEnd < duration && outroEnd !== 0) {
            console.log(outroEnd, duration)
            chaptersTrack.addCue(new VTTCue(outroEnd, duration, '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}'));
        }
        player.textTracks.add(chaptersTrack);
    });
    
    player.addEventListener('time-update', (event) => {
        const currentTime = event.detail.currentTime;

        if (currentTime >= introStart && currentTime <= introEnd && introStart !== introEnd) {
            if (autoSkipIntro) {
                player.currentTime = introEnd;
            } else {
                skipIntroButton.classList.remove('hidden');
                skipOutroButton.classList.add('hidden');
                setTimeout(() => introOverlay.classList.add('scale-x-100'), 100);
            }
        } else if (currentTime >= outroStart && currentTime <= outroEnd && outroStart !== outroEnd) {
            if (autoSkipIntro) {
                player.currentTime = outroEnd;
            } else {
                skipOutroButton.classList.remove('hidden');
                skipIntroButton.classList.add('hidden');
                setTimeout(() => outroOverlay.classList.add('scale-x-100'), 100);
            }
        } else {
            skipIntroButton.classList.add('hidden');
            skipOutroButton.classList.add('hidden');
            introOverlay.classList.remove('scale-x-100');
            outroOverlay.classList.remove('scale-x-100');
        }

        {% if user.preferences.auto_next_episode and anime_episodes.totalEpisodes > current_episode %}
        if (currentTime >= player.duration && player.duration !== 0) {
            const currentUrl = window.location.href;
            const animeId = {{ anime_id }};
            const currentEpisode = {{ current_episode }};
            const nextEpisode = currentEpisode + 1;
            const nextUrl = currentUrl.replace(`/watch/${animeId}/${currentEpisode}`, `/watch/${animeId}/${nextEpisode}`);
            window.location.href = nextUrl;
        }
        {% endif %}
    });

    skipIntroButton.addEventListener('click', () => {
        player.currentTime = introEnd;
        introOverlay.classList.remove('scale-x-100');
    });

    skipOutroButton.addEventListener('click', () => {
        player.currentTime = outroEnd;
        outroOverlay.classList.remove('scale-x-100');
    });

    {% if user.preferences.auto_play_video %}
    function attemptPlayback() {
        player.play().catch((error) => {
            console.error('Autoplay failed:', error);
        });
    }
    function onUserInteraction() {
        document.removeEventListener('pointerdown', onUserInteraction);
        attemptPlayback();
    }
    document.addEventListener('pointerdown', onUserInteraction, { once: true });
    player.addEventListener('can-play', () => {
        attemptPlayback();
    });
    {% endif %}

</script>
{% endblock scripts %}
