{% extends "partials/base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.vidstack.io/player/theme.css" />
<link rel="stylesheet" href="https://cdn.vidstack.io/player/audio.css" />
<link rel="stylesheet" href="https://cdn.vidstack.io/player/video.css" />
{% endblock css %}
{% block content %}
<div class="flex flex-col lg:flex-row mt-4 gap-2">
    <div class="w-full lg:w-3/4 relative">
        <div id="video-player" class="aspect-video"></div>
        <div id="skip-buttons" class="absolute bottom-24 right-4 flex flex-col space-y-2">
            <div id="skipIntro" class="relative bg-white bg-opacity-20 text-white text-center py-2 px-4 rounded-lg cursor-pointer overflow-hidden hidden">
                <span class="relative z-10">Skip Intro</span>
                <div id="intro-overlay" class="absolute inset-0 bg-{{ user.preferences.accent_colour }}-600 transition-transform duration-[5000ms] ease-linear origin-left scale-x-0"></div>
            </div>
            <div id="skipOutro" class="relative bg-white bg-opacity-20 text-white text-center py-2 px-4 rounded-lg cursor-pointer overflow-hidden hidden">
                <span class="relative z-10">Skip Outro</span>
                <div id="outro-overlay" class="absolute inset-0 bg-{{ user.preferences.accent_colour }}-600 transition-transform duration-[5000ms] ease-linear origin-left scale-x-0"></div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/4 flex flex-col overflow-y-auto px-2 lg:px-0" style="height: 42vw; max-height: 806px;">
        <h2 class="text-white text-xl font-bold mb-4">Episodes</h2>
        <div class="flex flex-col gap-2">
            {% for episode in anime_episodes.episodes %}
            {% if episode.number == current_episode %}
            <a id="selected-episode" href="{% url "watch:watch_episode" anime_id episode.number %}" class="flex flex-row justify-between items-center w-full gap-4 bg-{{ user.preferences.accent_colour }}-600 p-2 rounded hover:bg-{{ user.preferences.accent_colour }}-600 hover:bg-opacity-30">
                <span class="truncate max-w-full overflow-hidden text-ellipsis whitespace-nowrap">{{ episode.number }}. {{ episode.title }}</span>
                
                <span class="flex flex-row item-center gap-2">
                {% if anime_selected.episodes.sub >= episode.number %}                  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 bg-green-700 p-1 rounded" title="Available in Sub">
                    <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z" clip-rule="evenodd" />
                </svg>
                {% endif %}

                {% if anime_selected.episodes.dub >= episode.number %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 bg-blue-700 p-1 rounded" title="Available in Dub">
                    <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                    <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
                </svg>
                {% endif %}
                </span>
                
            </a>
            {% else %}
            <a href="{% url "watch:watch_episode" anime_id episode.number %}" class="flex flex-row justify-between w-full gap-4 {% if episode.number in watched_episodes %}bg-{{ user.preferences.accent_colour }}-600 bg-opacity-20{% else %}bg-white bg-opacity-10{% endif %} p-2 rounded hover:bg-{{ user.preferences.accent_colour }}-600 hover:bg-opacity-30">
                <span class="truncate max-w-full overflow-hidden text-ellipsis whitespace-nowrap">{{ episode.number }}. {{ episode.title }}</span>
                <span class="flex flex-row item-center gap-2">
                {% if anime_selected.episodes.sub >= episode.number %}                  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 bg-green-700 p-1 rounded" title="Available in Sub">
                    <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z" clip-rule="evenodd" />
                </svg>
                {% endif %}

                {% if anime_selected.episodes.dub >= episode.number %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 bg-blue-700 p-1 rounded" title="Available in Dub">
                    <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                    <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
                </svg>
                {% endif %}
                </span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const selectedEpisode = document.getElementById('selected-episode');
        if (selectedEpisode) {
            selectedEpisode.scrollIntoView({ block: 'center' });
        }
    });
</script>

<script type="module">
    const introStart = {{ episode_data.intro.start }};
    const introEnd = {{ episode_data.intro.end }};
    const outroStart = {{ episode_data.outro.start }};
    const outroEnd = {{ episode_data.outro.end }};
    const skipIntroButton = document.getElementById('skipIntro');
    const skipOutroButton = document.getElementById('skipOutro');
    const introOverlay = document.getElementById('intro-overlay');
    const outroOverlay = document.getElementById('outro-overlay');
    const autoSkipIntro = {% if user.preferences.auto_skip_intro %}true{% else %}false{% endif %};
    const currentWatchTime = {{ current_watched_time }};
    
    import { VidstackPlayer, VidstackPlayerLayout, TextTrack } from 'https://cdn.vidstack.io/player';
    
    const layout = new VidstackPlayerLayout({
        {% for track in episode_data.tracks %}
            {% if track.kind == 'thumbnails' %}
                thumbnails: "https://vtt.blasphemy8473.workers.dev/{{ track.file }}",
            {% endif %}
        {% endfor %}
    });
    
    const player = await VidstackPlayer.create({
        target: '#video-player',
        autoStartLoad: true,
        src: '{{ stream_url }}',
        viewType: 'video',
        streamType: 'on-demand',
        logLevel: 'warn',
        crossOrigin: true,
        playsInline: true,
        title: '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}',
        subtitlePreference: {
            lang: 'English',
        },
        layout,
        tracks: [
            {% for track in episode_data.tracks %}
            {% if track.kind == "captions" %}
            {
                src: '{{ track.file }}',
                label: '{{ track.label }}',
                kind: 'subtitles',
                type: 'vtt',
                lang: '{{ track.label }}',
                default: {% if track.label == "English" %}true{% else %}false{% endif %},
            },
            {% endif %}
            {% endfor %}
        ],
    });

    var chaptersLoaded = false;    
    player.addEventListener('duration-change', (event) => {
        const duration = event.detail;

        if (duration === 0 || chaptersLoaded) {
            return;
        }

        const chapters = [
            { startTime: introStart, endTime: introEnd, title: 'Intro' },
            { startTime: introEnd, endTime: outroStart, title: '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}' },
            { startTime: outroStart, endTime: outroEnd, title: 'Outro' }
        ];
    
        if (introStart > 0 && introStart < introEnd) {
            chapters.unshift({ startTime: 0, endTime: introStart, title: '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}' });
        }

        if (outroEnd > 0 && outroStart < outroEnd && duration > outroEnd) {
            chapters.push({ startTime: outroEnd, endTime: duration, title: '{% if user.preferences.title_language == "english" and anime_data.title.english %}{{ anime_data.title.english }}{% elif user.preferences.title_language == "native" and anime_data.title.native %}{{ anime_data.title.native }}{% else %}{{ anime_data.title.romaji }}{% endif %} — Episode {{ current_episode }} — {{current_episode_name}}' });
        }
        
        const chaptersTrack = new TextTrack({
            kind: "chapters",
            default: true,
        });
    
        for (const chapter of chapters) {
            if (chapter.startTime === chapter.endTime || chapter.endTime === 0) {
                continue;
            }
            chaptersTrack.addCue(new VTTCue(chapter.startTime, chapter.endTime, chapter.title));
        }
        
        player.textTracks.add(chaptersTrack);
        chaptersLoaded = true;

        if (currentWatchTime > 0) {
            player.currentTime = currentWatchTime;
        }
    });
    
    player.addEventListener('time-update', (event) => {
        const currentTime = event.detail.currentTime;

        if (currentTime >= introStart && currentTime <= introEnd && introStart !== introEnd) {
            if (autoSkipIntro) {
                player.currentTime = introEnd;
            } else {
                skipIntroButton.classList.remove('hidden');
                skipOutroButton.classList.add('hidden');
                setTimeout(() => introOverlay.classList.add('scale-x-100'), 100);
            }
        } else if (currentTime >= outroStart && currentTime <= outroEnd && outroStart !== outroEnd) {
            if (autoSkipIntro) {
                player.currentTime = outroEnd;
            } else {
                skipOutroButton.classList.remove('hidden');
                skipIntroButton.classList.add('hidden');
                setTimeout(() => outroOverlay.classList.add('scale-x-100'), 100);
            }
        } else {
            skipIntroButton.classList.add('hidden');
            skipOutroButton.classList.add('hidden');
            introOverlay.classList.remove('scale-x-100');
            outroOverlay.classList.remove('scale-x-100');
        }

        {% if user.preferences.auto_next_episode and anime_episodes.totalEpisodes > current_episode %}
        if (currentTime >= player.duration && player.duration !== 0) {
            const currentUrl = window.location.href;
            const animeId = {{ anime_id }};
            const currentEpisode = {{ current_episode }};
            const nextEpisode = currentEpisode + 1;
            const nextUrl = currentUrl.replace(`/watch/${animeId}/${currentEpisode}`, `/watch/${animeId}/${nextEpisode}`);
            window.location.href = nextUrl;
        }
        {% endif %}
    });

    skipIntroButton.addEventListener('click', () => {
        player.currentTime = introEnd;
        introOverlay.classList.remove('scale-x-100');
    });

    skipOutroButton.addEventListener('click', () => {
        player.currentTime = outroEnd;
        outroOverlay.classList.remove('scale-x-100');
    });

    {% if user.preferences.auto_play_video %}
    function attemptPlayback() {
        player.play().catch((error) => {
            console.error('Autoplay failed:', error);
        });
    }
    function onUserInteraction() {
        document.removeEventListener('pointerdown', onUserInteraction);
        attemptPlayback();
    }
    document.addEventListener('pointerdown', onUserInteraction, { once: true });
    player.addEventListener('can-play', () => {
        attemptPlayback();
    });
    {% endif %}

    let lastTime = 0;
    setInterval(() => {
        const {
            paused,
            playing,
            waiting,
            currentTime,
        } = player.state;
        if (paused || waiting) {
            lastTime = currentTime;
        }
        if (paused || waiting || currentTime === lastTime) {
            return;
        }
        fetch('{% url "watch:update_watch_history" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'anime_id': {{ anime_id }},
                'episode': {{ current_episode }},
                'time_watched': parseInt(player.currentTime)
            })
        });

        lastTime = currentTime;
    }, 30000);

</script>
{% endblock scripts %}
